* {
  box-sizing: border-box;
  text-align: center;
}

header {
  border-style: solid;
  border-color: aqua;
  text-wrap: pretty;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flex-container > div.flex1 {
  text-wrap: nowrap;
}
.flex-container > div.flex2 a {
  position: relative;
  top: 100px;
  right: 20px;
  color: yellowgreen;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-wrap: nowrap;
}

body {
  background: content-box repeating-radial-gradient(slategray, black);
}

.main-header {
  color: aliceblue;
  font-size: larger;
  padding-left: 20px;
  text-shadow: -15px 12px 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.sub-header {
  color: yellowgreen;
  font-size: xx-small;
  position: relative;
  left: 30px;
  bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: overline;
  text-decoration-color: rgb(227, 112, 45);
  text-decoration-thickness: 2px;
}

h3 {
  color: yellowgreen;
  width: 100px;
  border-right: dotted;
}

h4 {
  color: rgb(0, 255, 255);
}

main {
  padding: 5px;
  overflow: hidden;
}

.main-content {
  position: relative;
  top: -330px;
  left: 10px;
}

.main-content > p {
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(169, 91, 241);
}

.main-content > img {
  width: 250px;
  height: 140px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

ul {
  font-size: xx-small;
  list-style: none;
}

footer > h6 {
  position: relative;
  top: 25px;
  left: 15px;
}
