html body {
  padding: 0;
  margin: 0;
  height: 100%;
}

header {
  border-style: solid;
  border-color: aqua;
  text-wrap: pretty;
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flex-container > div.flex1 {
  padding: 5px;
  margin: 5px;
}

body {
  background: content-box repeating-radial-gradient(slategray, black);
}

.main-header {
  color: aliceblue;
  font-size: larger;
  padding-left: 20px;
  text-shadow: -15px 12px 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.sub-header {
  color: yellowgreen;
  font-size: xx-small;
  position: relative;
  left: 30px;
  bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: overline;
  text-decoration-color: rgb(227, 112, 45);
  text-decoration-thickness: 2px;
}

h3 {
  color: rgb(0, 255, 255);
}

h4 {
  color: rgb(154, 205, 50);
  width: 100px;
  border-right: dotted;
  margin-left: 2px;
  padding: 10px;
}

.main-content {
  position: absolute;
  top: 140px;
  left: 110px;
  padding-left: 25px;
  text-wrap: nowrap;
  margin-top: 30px;
}

.main-content > p {
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(169, 91, 241);
}

.main-content > img {
  width: 250px;
  height: 140px;
  padding: 0px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 100px;
}

ul {
  font-size: xx-small;
  list-style: none;
}

footer > h6 {
  position: relative;
  top: 25px;
  left: 15px;
}
